.fade-out {
    opacity: 1;
    transition: opacity 1.0s ease-out;
}

.fade-out.fade {
    opacity: 0;
}


.background-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
	background-attachment: fixed; /* Empêche l'arrière-plan de défiler */
    z-index: -1; /* Placer derrière le contenu principal */
}

/* Créer des cercles flous de nuances de bleu qui bougent */
.background-animation::before,
.background-animation::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(0, 0, 255, 0.2), rgba(0, 0, 255, 0));
    animation: move 15s infinite linear;
    filter: blur(100px);
    top: -50%;
    left: -50%;
}

/* Deuxième pseudo-élément pour plus de variations */
.background-animation::after {
    background: radial-gradient(circle, rgba(0, 150, 255, 0.2), rgba(0, 150, 255, 0));
    animation-duration: 18s;
}

/* Animation pour déplacer les nuances de bleu */
@keyframes move {
    0% {
        transform: translate(0, 0) scale(1);
    }
    50% {
        transform: translate(50%, 50%) scale(1.1);
    }
    100% {
        transform: translate(0, 0) scale(1);
    }
}