/* Styles généraux */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Prevention */
.prevention {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.prevention.hidden {
    display: none;
}

.prevention-content {
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size:20px;
    background: rgb(255,181,181);
	background: radial-gradient(circle, rgba(255,181,181,1) 0%, rgba(233,203,148,1) 100%);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.prevention-buttons button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#continue-btn {
    background-color: #34c924;
    color: #fff;
}

#continue-btn:hover {
    background-color: #34942a;
	transform: scale(1.1);
}

#cancel-btn {
    background-color: #ee1010;
    color: #fff;
}

#cancel-btn:hover {
    background-color: #ad1f1f;
	transform: scale(1.1);
}